html {
  background-color: #363636;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.8px;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  background-image: url("./assets/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body {
  margin: 0;
}

h6 {
    margin: 20px auto;
}

ul {
  padding-left: 20px;
}

.main-page {
  display: flex;
  justify-content: center;
  height: 100%;
  position: relative;
}

.sidebar {
  background: rgb(54,54,54);
  background: linear-gradient(0deg, rgba(54,54,54,1) 0%, rgba(36,150,244,1) 54%, rgba(36,150,244,1) 100%);
  width: 25%;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  text-align: center;
  position: sticky;
  top: 0;
}

.pic-container {
  border-radius: 4px;
  position: relative;
  width: 180px;
  height: 180px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.profile-pic {
  position: absolute;
  height: 97%;
  width: 97%;
  object-fit: contain;
  top: 2;
  left: 2;
}

.tools-bar {
  position: relative;
  width: 100%;
  display: block;
}

.tools-bar-icon {
  position: absolute;
  cursor: pointer;
  animation-delay: 0.8ms;
  right: 40px;
}

.personal-details-sidebar {
  border-bottom: 1px solid white;
  padding-bottom: 20px;
  width: 90%;
  animation-delay: 1.3s;
}

.details-div {
  width: 50%;
  padding: 40px 0;
  text-align: left;
  background-color: #363636;
  color: white;
  overflow: hidden;
  opacity: 0.9;
}

.details-section {
  padding: 24px 40px;
}

.details-section-inverted {
  background-color: #262626;
}

.personal-details-list {
  list-style: none;
  font-size: 16px;
  padding: 0;
}

.list-item {
  margin-bottom: 8px;
}

.date-indicator {
  font-size: 16px;
}

.main-details {
  width: 100%;
}

.details-divider{
  width: 50%;
  align-self: center;
  background-color: white;
  height: 1px;
  margin: 36px auto;
  opacity: .6;
}

.details-title {
  font-weight: 700;
  font-size: 18px;
}

.details-subtitle {
  font-size: 16px;
}

.details-header {
  font-weight: 600;
  margin-bottom: 20px;
  color: #2496f4;
}

.content-item {
  width: 100%;
}

.content-item a {
    width: 100% !important;
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
  }

.scrollactive-item {
  text-decoration: none;
  width: 100%;
  color: white;
  line-height: 1.9;
  transition: font-weight 0.2s, border 0.2s;
  border-left: 2px solid transparent;
}

.scrollactive-item:hover {
  border-left: 2px solid white;
}

.active {
  border-left: 2px solid white;
  width: 100% !important;
  width: 100%;
  transition: padding-left border-left 3s;
  padding-left: 10px;
  font-weight: bold;
}

.social-media-logo {
  margin-top: 25px;
  margin-right: 10px;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s;
}

.social-media-logo:hover {
  opacity: 1;
}

.details-paragraph {
  font-size: 16px;
  margin: 0;
}

.scroll-spy-div {
  list-style: none;
  position: sticky;
  top: 20px;
  padding-top: 20px;
  width: 100%;
  font-size: 18px;
  animation-delay: 1.3s;
}

.scroll-top-div {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px solid #2496f4;
  border-radius: 50%;
  background-color: #2496f4;
  transition: box-shadow 0.5s;
}

.scroll-top-div:hover {
  box-shadow: 0 0px 0px 6px rgba(255, 255, 255, 0.5);
}

.project-link {
  color: #2496f4;
  text-decoration: none;
  display: flex;
  font-size: 15px;
  margin: 5px;
}

.project-link:hover {
  color: #195e97;
}

@media print {
  .main-page {
    display: block;
  }
  .sidebar {
    display: block;
    width: 100%;
    height: 250px;
  }
  .tools-bar {
    display: none;
  }
  .scroll-top-div {
    display: none;
  }
  .details-div {
    width: 100%;
    display: block;
    font-size: 16px;
  }
  .scroll-spy-div {
    display: none;
  }
  .contact-icons {
    display: none !important;
  }
}

@media screen and (min-width: 1050px) {
  .sidebar {
    width: 15%;
  }
}

@media screen and (max-width: 950px) {
  .main-page {
    flex-direction: column;
  }

  .sidebar {
    display: flex;
    width: 100%;
    padding: 0;
    height: auto;
  }
  .tools-bar {
    display: none;
  }
  .scroll-top-div {
    display: none;
  }
  .details-div {
    width: 100%;
    font-size: 14px !important;
  }
  .details-paragraph {
    font-size: 14px;
  }
  .scroll-spy-div {
    display: none;
  }
  .editorial-help-block {
    width: 100%;
    text-align: center;
  }
  .editorial-text {
    font-size: 20px;
  }
  .editorial-block {
    top: 100px;
    left: 15px;
    right: 15px;
    width: auto;
    transform: none;
  }
}
